## Proyecto final Upgrade HUB

Empezamos cargando las librerías que usaremos a lo largo del proyecto

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stats
import sklearn as sk

A continuación, cargamos nuestros datos y haremos un pequeño análisis descriptivo para ver si es necesario procesar los datos

In [2]:
df_wines = pd.read_csv("wines_SPA.csv")
df_wines.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [3]:
df_wines.describe()

            rating   num_reviews        price         body      acidity
count  7500.000000   7500.000000  7500.000000  6331.000000  6331.000000
mean      4.254933    451.109067    60.095822     4.158427     2.946612
std       0.118029    723.001856   150.356676     0.583352     0.248202
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.200000    389.000000    18.900000     4.000000     3.000000
50%       4.200000    404.000000    28.530000     4.000000     3.000000
75%       4.200000    415.000000    51.350000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

In [4]:
df_wines.isnull().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [5]:
df_wines.head(20)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00000,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50000,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95000,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96000,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06000,Ribera Del Duero Red,5.0,3.0
5,Vega Sicilia,Unico,1998,4.8,1209,Espana,Ribera del Duero,490.00000,Ribera Del Duero Red,5.0,3.0
6,Vega Sicilia,Unico,2010,4.8,1201,Espana,Ribera del Duero,349.00000,Ribera Del Duero Red,5.0,3.0
7,Vega Sicilia,Unico,1995,4.8,926,Espana,Ribera del Duero,810.89000,Ribera Del Duero Red,5.0,3.0
8,Vega Sicilia,Unico Reserva Especial Edicion,2015,4.8,643,Espana,Ribera del Duero,345.00000,Ribera Del Duero Red,5.0,3.0
9,Vega Sicilia,Unico,2011,4.8,630,Espana,Ribera del Duero,315.00000,Ribera Del Duero Red,5.0,3.0
10,Vega Sicilia,Unico Reserva Especial Edicion,2016,4.8,591,Espana,Ribera del Duero,514.85000,Ribera Del Duero Red,5.0,3.0
11,Pago de Carraovejas,El Anejon,2016,4.8,454,Espana,Ribera del Duero,105.15000,Ribera Del Duero Red,5.0,3.0
12,Vega Sicilia,Unico Reserva Especial Edicion,2018,4.8,438,Espana,Ribera del Duero,430.00000,Ribera Del Duero Red,5.0,3.0
13,Vega Sicilia,Unico,1970,4.8,417,Espana,Ribera del Duero,925.00000,Ribera Del Duero Red,5.0,3.0
14,Toro Albala,Don PX Convento Seleccion,1946,4.8,398,Espana,Montilla-Moriles,350.00000,Pedro Ximenez,5.0,1.0
15,Pago de Carraovejas,Cuesta de Las Liebres,2015,4.8,372,Espana,Ribera del Duero,166.18000,Ribera Del Duero Red,5.0,3.0
16,Vega Sicilia,Unico,1962,4.8,295,Espana,Ribera del Duero,1620.00000,Ribera Del Duero Red,5.0,3.0
17,Vega Sicilia,Unico Reserva Especial Edicion,2019,4.8,250,Espana,Ribera del Duero,431.36000,Ribera Del Duero Red,5.0,3.0
18,Bodegas El Nido,El Nido,2018,4.8,217,Espana,Jumilla,195.62738,Red,4.0,3.0
19,Vega Sicilia,Unico Reserva Especial Edicion,2004,4.8,211,Espana,Ribera del Duero,824.43000,Ribera Del Duero Red,5.0,3.0

In [6]:
df_wines["wine"].mode()

0    Reserva
Name: wine, dtype: object

In [7]:
null_percentage = df_wines.isnull().sum() / len(df_wines) * 100
null_percentage

winery          0.000000
wine            0.000000
year            0.026667
rating          0.000000
num_reviews     0.000000
country         0.000000
region          0.000000
price           0.000000
type            7.266667
body           15.586667
acidity        15.586667
dtype: float64

Viendo que es un número bajo de valores nulos y que no son facilmente reemplazables (debido a que puede afectar al estudio) procederemos a eliminarlos

In [9]:
# eliminar filas que tengan body y acidity nulos
df_wines_cleanbodyacid = df_wines.drop(filtered_df.index)

NameError: name 'filtered_df' is not defined

In [ ]:
df_wines_cleanbodyacid.isnull().sum()

In [ ]:
df_wines_cleanbodyacid.head()

Al cargar los datos en power BI descubrimos que habia valores nulos camuflados en la base de datos donde en vez de poner el año ponia "N.V.", asi que procederemos a sustituirlo por valores nulos y posteriormente eliminarlos

In [ ]:
filtered_df_YEAR = df_wines_cleanbodyacid[df_wines_cleanbodyacid['year'] == 'N.V.']
filtered_df_YEAR

In [ ]:
df_wines_cleanbodyacid["year"] = df_wines_cleanbodyacid["year"].replace("N.V.", np.nan)

In [ ]:
df_wines_cleanbodyacid.isnull().sum()

winery           0
wine             0
year           261
rating           0
num_reviews      0
country          0
region           0
price            0
type             0
body             0
acidity          0
dtype: int64

In [ ]:
df_wines_cleanbodyacidyear = df_wines_cleanbodyacid.dropna()

In [ ]:
df_wines_cleanbodyacidyear.isnull().sum()

winery         0
wine           0
year           0
rating         0
num_reviews    0
country        0
region         0
price          0
type           0
body           0
acidity        0
dtype: int64

Por último creamos un nuevo csv con la base de datos limpia que sera con el que trabajaremos a partir de ahora

In [ ]:
df_wines_cleanbodyacidyear.to_csv('df_wines_cleanbodyacidyear.csv', index=False)